/* css reset  */
* {
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0;
    /* overflow: hidden; */
    /* border: 2px solid red; */
}

img:hover{
    cursor: pointer;
}
img:active{
    border: 2px solid transparent;
}


/* css variables */
:root {
    --primeColor1: royalblue;
    --primeColor2: #FFE5B4;
}

/*-------------------- header of a website----------------------------  */
/* nav{
    position: sticky;
    top: 0;
} */
header {
    height: 11vh;
    width: 100vw;
    background-color: var(--primeColor1);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
}

/* logo division of header  */
#logodiv {
    height: 100%;
    width: 20%;
    /* border: 2px solid white; */
    margin-left: 8vw;
    overflow: hidden;
}

#logodiv img {
    height: 70%;
    width: 80%;
    margin-top: 0.8vw;
}

/* serachbar design  */
#searchdiv {
    border: 2px solid white;
    border-radius: 5px;
    height: 40%;
    width: 40%;
    margin-top: 3vh;
    overflow: hidden;
    padding: 0 0;
    display: flex;
    flex-direction: row;
}

#searchdiv>* {
    border: 2px solid white;
    height: 100%;
}

#searchdiv>input {
    width: 93%;
    padding-left: 5%;
}

#searchdiv>button {
    width: 7%;
    background-color: var(--primeColor2);
}

#searchdiv>button>img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

/* icon devision  */
#headicon {
    height: 55%;
    width: 20%;
    /* border: 2px solid white; */
    overflow: hidden;
    margin-top: 2.5vh;
    margin-left: 7%;
    display: flex;
    flex-direction: row;
}

.headbtn {
    margin-left: 15%;
    background-color: transparent;
    border: none;
}

#acntIcon img {
    height: 100%;
    /* margin-left: 3vw; */
}

#fvrtIcon>img,
#shpIcon>img {
    height: 80%;
    filter: invert();
}


/* subheader styling  */
subheader {
    height: 5vh;
    width: 100vw;
    background-color: var(--primeColor2);
    box-shadow: -1px 1px 8px -1px black;
    display: flex;
    flex-direction: row;
    padding-left: 25vw;
    align-items: center;
}

subheader a {
    color: black;
    margin-left: 5vw;
    font-weight: 500;
    font-size: 2.5vh;
    text-decoration: none;
}

subheader a:hover {
    text-decoration: underline;
    color: brown;
}

/* ---------------------------------home BAnner styling--------------------------------- */
#homeBanner {
    height: 84vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeBanner>img {
    height: 80%;
    width: 70%;
    border-radius: 8px;
}

/* --------------------------------home banner brid------------------------------------- */
/* marked for removal */
.hgbincnt {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* lowerdiv images  */
#hbgLowerImg>img {
    height: 100%;
    width: 30%;
    margin-left: 3.33%;
}

/* --------------------------Watch Grid------------------------------------------------ */
#WGUpperImg {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* upper images */
#WGUpperImg>img {
    height: 90%;
    width: 48%;
    border-radius: 8px;
}

#femaleWatch {
    margin-left: 3%;
}

/* ------------------------------Mobile Grid styling------------------------------ */



/* ------------------------iteam Grid styling---------------------------------------- */
.iteamGrid {
    display: grid;
    background-color: white;
    justify-items: center;
    align-items: center;
}

/* -----------------------------iteamcard styling------------------------------------ */
#IteamCard {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

#IteamCard:hover {
    background-color: white;
    box-shadow: 1px 1px 20px lightgray;
    border-radius: 5px;
}

#iteamImage {
    margin-top: 10%;
    margin-left: 15%;
    height: 60%;
    width: 70%;
}

#iteamImage img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#iteamDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    height: 30%;
}

#iteamDetails span{
    color: gray;
    text-decoration: line-through;
}

/* ------------------------------BottomGrid Styling-------------------------- */
#bottomGrid{
    height: 45%;
    width: 100%;
    /* margin-left: 10%; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    background-color: whitesmoke;
    border-radius: 8px;
    overflow: hidden;
}

/* ---------------------------SideGrid styling----------------------------- */
#sideGrid{
    height: 100%;
    width: 60%;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    border-radius: 8px;
}

/* --------------------horizontal banner--------------------------------- */
.hbanner{
    height: 60vh;
    width: 100vw;
}

.hbanner img{
    height: 100%;
    width: 100%;
}



/* ----------------------Footer styling------------------------------- */
#footer{
    width: 100vw;
    height: 40vh;
    background-color: rgb(11, 2, 74);
}

#footer div{
    width: 33%;
    /* border: 2px solid red; */
    padding-left: 5vw;
    /* align-items: center; */
}

#footer h3{
    font-size: 4vh;
    margin-bottom: 3vh;
    color: white;
}

#footer a, #footer h4{
    font-size: 2.5vh;
    text-decoration: none;
    color: whitesmoke;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* -------------------------------Product page---------------------------------------------------------- */
#prodMainDetl{
    /* background-color: rgb(248, 244, 244); */
    margin-top: 2%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 0.1px solid lightgray;
}
#prodMainDetl > div{
    height: 100%;
    width: 50%;
}

/* image division  */
#prodImag{
    /* border: 2px solid green; */
}
#pImgContainer{
    height: 13%;
    width: 100%;
}

#pImgContainer img{
    margin-bottom: 2%;
    margin-right: 2%;
    height: 100%;
    width: 25%;
    border-radius: 5px;
}

#pimgbig{
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
}
#pimgbig img{
    height: 90%;
    width: 80%;
    border-radius: 5px;
}

/* main details division */
#pdetails{
    padding-top: 5%;
    font-size: 3vh;
}
#pdetails > h1{
    padding-top: 5%;
    font-size: 4vh;
}

/* rating division */
#totratings{
    height: 5%;
    width: 20%;
    margin-top: 3%;
    /* border: 1px solid gray; */
    background-color: #f5f5f5;
    display: inline-block;
    font-size: 0;
}

.star{
    display: inline-block;
    width: 20%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    background-image: url('../photos/filled-star.png');
    background-size: cover;
}

#overview{
    margin-top: 2vh;
    margin-bottom: 3vh;
}
#overview span{
    font-size: 3vh;
}

/* product counter */
#pcounter{
    border: 1px solid gray;
    height: 10%;
    width: 30%;
    border-radius: 5px;
    /* background-color: lightgrey; */
}
#pc{
    height: 100%;
    width: 40%;
}
#min, #max  {
    border-radius: 5px;
    background-color: whitesmoke;
    height: 100%;
    width: 30%;
    color: orangered;
    cursor: pointer;
}
#pcounter > div{
    text-align: center;
    padding-top: 1.5vh;
    font-weight: bold;
}

/* cart  */
#cart{
    height: 10%;
    width: 100%;
    margin-top: 5%;
}
#addFavorite{
    height: 100%;
    width: 10%;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    
}
#addFavorite:hover{
    filter: invert();
    
}
#addFavorite img{
    margin: 10% 10%;
    height: 80%;
    width: 80%;
}

#addToCart{
    height: 100%;
    width: 30%;
    color: orangered;
    font-weight: bold;
    border: 1px solid gray;
    text-align: center;
    padding-top: 1.5vh;
    border-radius: 5px;
    margin-left: 5%;
    cursor: pointer;

}
#addToCart:hover{
    color: white;
    background-color: orangered;

}

/* ---description container--- */
#pDesc{
    background-color: whitesmoke;
    padding-top: 5%;
    padding-left: 10%;
}

/* -------------------------------------------------------------------------------------- */
/* ---------------------------- Add-to-cart --------------------------------------------- */
.CartMain{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border: 2px solid grey; */
    font-size: 2.7vh;
}


/* --------------------related to Addtocart, addtoFavourit----------------------------- */
.FCart{
    height: 15vh;
    width: 100%;
    overflow: hidden;
    margin-top: 2vh;
    /* border: 2px solid red; */
}

.FCartExt{
    margin-top: 5vh;
}

.FCartProd > img{
    /* border: 2px solid red; */
    height: 100%;
    width: 20%;
    margin-left: 2%;
    border-radius: 8px;
}
.FCartProd > div{
    margin-left: 3vw;
    margin-top: 5vh;
    /* margin: auto; */
}


/* -------------------------------------------------------------------------------------- */
/* --------------------------------User Account------------------------------------------ */
#userContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
}

#usercnt{
    height: 75vh;
    width: 35vw;
    border: 2px solid gray;
    border-radius: 8px;
    overflow: hidden;
}

/* user profile heading  */
#userHead{
    height: 25%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom right, darkblue, #cead61);
    align-items: center;
}

#userHead > img{
    height: 80%;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 220px;
    background-color: whitesmoke;
    margin-left: 5%;
}
#userHead > div{
    font-size: 4.5vh;
    font-weight: bold;
    margin-left: 7%;
    color: white;
}

/* user profile body  */
#userBody{
    background-color: whitesmoke;
    height: 75%;
}

#userBody > button{
    height: 15%;
    font-size: 2.5vh;
    text-align: center;
    border: 1px solid gray;
    cursor: pointer;
}
#userBody > button:hover{
    background-color: var(--primeColor1);
    color: white;
}
#userBody > button:active{
    background-color: orangered;
    color: white;
}


/* ------------------------------------------------------------------------------------ */
/* -----------------------Admin login----------------------------------------------- */
.admlgnContainer{
    height: 60vh;
    width: 30vw;
    border: 2px solid gray;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.admlgnContainer > input{
    padding: 8px;
    width: 80%;
    margin-inline: auto;
    margin-top: 5vh;
    border-radius: 5px;
    border: 2px solid gray;
}


/* -------------------------------------------styling for '/prods'---------------------------------
------------------------------------------------------------------------------------------------ */
#prodsContainer{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}


/* --------------------------------------------------------------------------------------------------
---------------------------------Checkout Page----------------------------------------------------
----------------------------------------------------------------------------------------------- */
#chekoutOuterContainer{
    background-color: lightgray;
}
#chekoutOuterContainer input{
    margin-top: 0.5vh;
    padding: 0.7vh;
    border-radius: 5px;
    border: 2px solid lightgray;
}

#checkoutInnerContainer{
    height: 90vh;
    width: 60vw;
    border-radius: 8px;
}

/* ------------------------------------------styling for left part  */
#checkoutShipping{
    height: 100%;
    width: 49%;
}

#chekoutIteamGrid{
    width: 90%;
    height: 60%;
    margin-inline: auto;
    border-top: 1px solid var(--primeColor1);
    border-bottom: 1px solid var(--primeColor1);
}

/* styling for iteams in side shipping */
#checkoutIteam{
    margin-top: 3%;
    width: 100%;
    height: 25%;
}

#checkoutIteamImg{
    height: 95%;
    width: 25%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid gray;
}
#checkoutIteamImg > img{
    height: 100%;
    width: 100%;
}

.checkoutIteamContent{
    margin-left: 7%;
    overflow: hidden;
}

/* subtotal and total in shipping  */
#chekoutShippingTotal{
    height: 10%;
    width: 90%;
    border-bottom: 1px solid var(--primeColor1);
    margin-left: 5%;
    padding: 0% 5%;
}

#chekoutShippingTotal > div{
    display: flex;
    justify-content: space-between;
}



/* -------------------------------------------styling for right part  */
#checkoutRightCont{
    height: 100%;
    width: 50%;
    margin-left: 1%;

}

/* devlivery related  */
#chekcoutDelivery{
    height: 59%;
    width: 100%;
    margin-bottom: 2%;
}

#checkoutDeliveryInput{
    width: 90%;
    height: 75%;
    margin-inline: auto;
    border-top: 1px solid var(--primeColor1);
}

/* payment related */
#checkoutPayment{
    height: 39%;
    width: 100%;
}

#checkoutPaymentInfo{
    width: 90%;
    margin-inline: auto;
    border-top: 1px solid var(--primeColor1);
    padding-top: 1vh;
}
#checkoutPaymentInfo > button{
    margin-left: 35%;
    margin-top: 2vh;
}

#checkoutRadioCont{
    border: 2px solid lightgray;
    border-radius: 8px;
    width: 90%;
    margin-inline: auto;
    margin-top: 1vh;
    padding: 1vh 1vw;
}
#checkoutRadioCont label{
    margin-left: 1vw;
}

/* classes used in many checkout components  */
.checkoutShape{
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    
}

.checkoutHeading{
    font-size: 3.5vh;
    padding: 2vh 2vw;
}

.checkoutSecHeading{
    font-size: 2.5vh;
}

.checkout2in1{
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
}

.checkout1in1{
    margin-top: 1vh;
    margin-inline: auto;
}

/* ------------------------------utility classes------------------------------------- */
.container {
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    overflow: hidden;
    /* border: 2px solid red; */
}

/* to add pointer functionality */
.link {
    cursor: pointer;
}

.topmargin{
    margin-top: 10vh;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.flexCol{
    display: flex;
    flex-direction: column;
}
.marginLeft{
    margin-left: 5%;
}
.marginRight{
    margin-right: 5%;
}

.dummyPrice{
    color: gray;
    text-decoration: line-through;
}

.price{
    color:black;
    font-size: 5vh;
}

/* virtical single image in grid  */
.GV1Image{
    height: 100%;
    width: 35%;
    border-radius: 8px;
    overflow: hidden;
}
.GV1Image img{
    height: 100%;
    width: 100%;
}

/* horizontal single image in grid  */
.GH1Image{
    height: 50%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5%;
}
.GH1Image img{
    height: 100%;
    width: 100%;
}

/* primary heading styling  */
.PrimHead{
    font-weight: 900;
    text-decoration: underline;
    font-size: 3.5vh;

}

/* primary button  */
.PrimButton{
    height: 5vh;
    width: 7vw;
    font-size: 2.3vh;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: var(--primeColor1);
    color: white;
    font-weight: 700;
}

.PrimButton:hover{
    background-color: var(--primeColor1);
    /* color: black; */
    border: 5px solid transparent;
}

.PrimButton:active{
    background-color: orangered;
    color: white;
}

/* used in admin login and signup and checkout*/
.flexCenter{
    /* border: 2px solid red; */
    background-color: lightgray;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}