/* css reset  */
*{
    box-sizing: border-box;
    padding: 0 0 ;
    margin: 0 0;
}

/* css variables */
:root{
    --primeColor1: royalblue;
    --primeColor2: #FFE5B4;
}

/*-------------------- header of a website----------------------------  */
header{
    height: 11vh;
    width: 100vw;
    background-color: var(--primeColor1);
    display: flex;
    flex-direction: row;
}

/* logo division of header  */
#logodiv{
    height: 100%;
    width: 20%;
    /* border: 2px solid white; */
    margin-left: 8vw;
    overflow: hidden;
}

#logodiv img{
    height: 70%;
    width: 80%;
    margin-top: 0.8vw;
}

/* serachbar design  */
#searchdiv{
    border: 2px solid white;
    border-radius: 5px;
    height: 40%;
    width: 40%;
    margin-top: 3vh;
    overflow: hidden;
    padding: 0 0;
    display: flex;
    flex-direction: row;
}

#searchdiv > *{
    border: 2px solid white;
    height: 100%;
}

#searchdiv > input{
    width: 93%;
    padding-left: 5%;
}
#searchdiv > button{
    width: 7%;
    background-color: var(--primeColor2);
}
#searchdiv > button > img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

/* icon devision  */
#headicon{
    height: 55%;
    width: 20%;
    /* border: 2px solid white; */
    overflow: hidden;
    margin-top: 2.5vh;
    margin-left: 7%;
    display: flex;
    flex-direction: row;
}

#headicon button{
    margin-left: 15%;
    background-color: transparent;
    border: none;
}
#acntIcon img{
    height: 100%;
    /* margin-left: 3vw; */
}
#fvrtIcon > img, #shpIcon > img{
    height: 80%;
    filter: invert();
}


/* subheader styling  */
subheader{
    height: 5vh;
    width: 100vw;
    background-color: var(--primeColor2);
    box-shadow: -1px 1px 8px -1px black;
    display: flex;
    flex-direction: row;
    padding-left: 25vw;
    align-items: center;
}

subheader a{
    color: black;
    margin-left: 5vw;
    font-weight: 500;
    font-size: 2.5vh;
    text-decoration: none;
}

subheader a:hover{
    text-decoration: underline;
    color: brown;
}


/* ------------------------------utility classes------------------------------------- */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


