/* css reset  */
* {
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0;
}

/* css variables */
:root {
    --primeColor1: royalblue;
    --primeColor2: #FFE5B4;
}

/*-------------------- header of a website----------------------------  */
/* nav{
    position: sticky;
    top: 0;
} */
header {
    height: 11vh;
    width: 100vw;
    background-color: var(--primeColor1);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
}

/* logo division of header  */
#logodiv {
    height: 100%;
    width: 20%;
    /* border: 2px solid white; */
    margin-left: 8vw;
    overflow: hidden;
}

#logodiv img {
    height: 70%;
    width: 80%;
    margin-top: 0.8vw;
}

/* serachbar design  */
#searchdiv {
    border: 2px solid white;
    border-radius: 5px;
    height: 40%;
    width: 40%;
    margin-top: 3vh;
    overflow: hidden;
    padding: 0 0;
    display: flex;
    flex-direction: row;
}

#searchdiv>* {
    border: 2px solid white;
    height: 100%;
}

#searchdiv>input {
    width: 93%;
    padding-left: 5%;
}

#searchdiv>button {
    width: 7%;
    background-color: var(--primeColor2);
}

#searchdiv>button>img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

/* icon devision  */
#headicon {
    height: 55%;
    width: 20%;
    /* border: 2px solid white; */
    overflow: hidden;
    margin-top: 2.5vh;
    margin-left: 7%;
    display: flex;
    flex-direction: row;
}

#headicon button {
    margin-left: 15%;
    background-color: transparent;
    border: none;
}

#acntIcon img {
    height: 100%;
    /* margin-left: 3vw; */
}

#fvrtIcon>img,
#shpIcon>img {
    height: 80%;
    filter: invert();
}


/* subheader styling  */
subheader {
    height: 5vh;
    width: 100vw;
    background-color: var(--primeColor2);
    box-shadow: -1px 1px 8px -1px black;
    display: flex;
    flex-direction: row;
    padding-left: 25vw;
    align-items: center;
}

subheader a {
    color: black;
    margin-left: 5vw;
    font-weight: 500;
    font-size: 2.5vh;
    text-decoration: none;
}

subheader a:hover {
    text-decoration: underline;
    color: brown;
}

/* ---------------------------------home BAnner styling--------------------------------- */
#homeBanner {
    height: 84vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeBanner>img {
    height: 80%;
    width: 70%;
    border-radius: 8px;
}

/* --------------------------------home banner brid------------------------------------- */
/* marked for removal */
.hgbincnt {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* lowerdiv images  */
#hbgLowerImg>img {
    height: 100%;
    width: 30%;
    margin-left: 3.33%;
}

/* --------------------------Watch Grid------------------------------------------------ */
#WGUpperImg {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* upper images */
#WGUpperImg>img {
    height: 90%;
    width: 48%;
    border-radius: 8px;
}

#femaleWatch {
    margin-left: 3%;
}


/* ------------------------iteam Grid styling---------------------------------------- */
.iteamGrid {
    display: grid;
    background-color: white;
    justify-items: center;
    align-items: center;
}

/* -----------------------------BGiteamcard styling------------------------------------ */
#BGIteamCard {
    height: 30vh;
    width: 15vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

#BGIteamCard:hover {
    background-color: white;
    box-shadow: 1px 1px 20px lightgray;
}

#iteamImage {
    margin-top: 10%;
    margin-left: 15%;
    height: 60%;
    width: 70%;
}

#iteamImage img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#iteamDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    height: 30%;
}

#iteamDetails span{
    color: gray;
    text-decoration: line-through;
}

/* ------------------------------BottomGrid Styling-------------------------- */
#bottomGrid{
    height: 40%;
    width: 100%;
    /* margin-left: 10%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 8px;
    overflow: hidden;
}


/* ------------------------------utility classes------------------------------------- */
.container {
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    overflow: hidden;
}

/* to add pointer functionality */
.link {
    cursor: pointer;
}